.section-error {
  height: calc(100vh - 138px);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //background-color: $black;
  &_text-opacity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42rem;
    color: rgba($white, .2);
    font-weight: 600;
  }
  &_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_text-title{
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4.8rem;
    margin-top: 5rem;
  }
  &_text-bottom{
    font-size: 3.6rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0;
    color: $white;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .section-error {
    &_text-opacity {

      font-size: 25rem;

    }

    &_text-title{

      font-size: 3.5rem;
      margin-top: 5rem;
    }
    &_text-bottom{
      font-size: 2.8rem;

    }
  }
}