.teachers {
    background-color: #f0eeee;
    p {
        margin-top: 1rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .program_img {
        height: 31.8rem;
    }
}